.progress {
  direction: ltr;
  border-radius: 7px;
  width: 80%;
  height: 15px;
  position: fixed;
  top: 2rem;
 
}
.progress::-webkit-progress-value {
  background-color: #eca323;
  border-radius: 7px;
  //   box-shadow: 1px 1px 5px 3px rgba( 255, 0, 0, 0.8 );
}
.progress::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 7px;
}
