.AppBar {
    background-image: linear-gradient(to top, #7569F4, #9187F6);
    box-shadow: 0 4px 16px rgba(118, 106, 244, 0.2392156863);
    width: auto !important;
    right: 10px !important;
    left: 10px !important;
    box-shadow: 0 4px 16px rgba(118, 106, 244, 0.2392156863);
    border-radius: 8px;
    margin: 10px 0;
    color: #fff;
    :global {
        .muirtl-i4bv87-MuiSvgIcon-root {
            color: #fff;
        }
    }
}
.navLink {
    text-decoration: none;
    columns: #000 !important ;
}