.content {
width: 85%;
  height: 100%;
  padding: 4.5rem 0;
   .paperTitle {
      :global {
      h1 {
        font-weight: bold;
        font-size: 1.3rem;
        margin-bottom: 10px;
      }
    }
    text-align: center;
    line-height: 2.5rem;
    margin-bottom: 20px;
    
      }
}
.inputText {
    margin: 8px 0 !important;
    width: 100%;
}
.formLabel {
    margin-top: 10px;
    font-size: 1.15rem !important;
}
.footer {
  position: fixed;
  bottom: 1.5rem;
  inset-inline: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
  z-index: 1000;
}

.nextButton {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  font-size: 1rem;
  background-image: linear-gradient(to top, #7569f4, #9187f6);
  box-shadow: 0 4px 16px #766af43d;
  padding: 10px;
  color: #ffffff;
  font-weight: 700;
  border-radius: 1rem;
}

.backButton {
  background-image: linear-gradient(to top, #7569f4, #9187f6);
  box-shadow: 0 1px 2px #1018280d;
}

.disabledBackButton,
.backButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #98a2b3;
  padding: 12px;
  border-radius: 1rem;
}

.skipButton {
  position: absolute;
  left: 30px;
  top: 25px;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 700;
  color: #101828;
  z-index: 50;
}

.wrapper {
  display: flex;
  flex-direction: column;
}
