.wrapper {
  padding-top: 75px;
  padding-bottom: 80px;
  height: 100%;
}
.mainLayout {
  height: 100%;
  padding-top: 10px;
  :global {
    .valid {
  background-color: #fff;
}
.invalid {
  background-color: #ffeded;
}
  }
}
.title {
  color: rgb(0 0 0);
  text-align: center;
  margin-bottom: 10px;
}
.expenseCard {
  padding: 10px;
  border: 1px solid #ccc;
  display: block;
  border-radius: 10px;
  margin: 10px 0;
  text-decoration: none;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  :global {
    ul {
      li {
        display: flex;
        justify-content: space-between;
        color: #000;
      }
      :nth-child(1) {
        font-weight: 700;
        font-size: 1.05rem;
      }
    }
  }
}

.footer {
  text-align: center;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 5.5rem;
}
.customButton {
  background-color: #fcc056 !important;
  font-size: 1.04rem !important;
}