.wrapper {
  padding-top: 80px;
  padding-bottom: 65px;
  height: 100%;
}
.customCard {
  background-color: aliceblue;
  border: 1px solid paleturquoise;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
.mainLayout {
  height: 100%;
  padding-top: 10px;
  :global {
    p {
      text-align: center;
    }
  }
}
.customFormGroup {
    :global {
    label {
      font-weight: 600;
      margin: 12px 0 ;
    }
  }
}
.footer {
  text-align: center;
}
