$primary: #eca323 !important;
$purple: #5b37b7;
$pink: #c9379d;
$ocher: #e6a919;
$cyan: #1194aa;
$transition: 0.3s ease;

.bottomNavigation {
  background-color: $primary;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  :global {
    :nth-child:first-child {
      border-top-right-radius: 20px;
    }
    :nth-child:last-child {
      border-top-left-radius: 20px;
    }
    .btn-nav {
      font-weight: bold;
      height: 100%;
      color: currentColor;
      svg {
        font-size: 1.9rem !important;
      }
font-size: 1.5rem;
      ~ .active {
        transform: all .3ms ease;
        
        background-color: white !important;
        color: $primary;
        svg {
        font-size: 2rem !important;
      }
      }
    }
  }
}
