.wrapper {
  padding-top: 80px;
  padding-bottom: 65px;
  height: 100%;
}
.mainLayout {
  height: 100%;
  padding-top: 10px;
}

.mapContainer {
    margin: 10px 0;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 5px;
    height: 280px;
    overflow: hidden;
}