.wrapper {
  padding-top: 75px;
  padding-bottom: 65px;
  height: 100%;
}
.mainLayout {
  height: 100%;
  max-height: 100%;
  padding-top: 10px;
  overflow-y: auto;
}
.customTab {
  display: flex;
  :global {
    button {
      flex: 1;
      padding: 10px;
      box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1);
      background-color: #f7f7f7 !important;
    }
    button[aria-selected="true"] {
      background-color: #fff !important;
      font-size: 1.05rem;
      font-weight: bold;
      color: #1976d2;
    }
    :first-child {
      border-bottom-right-radius: 12px;
    }
    :last-child {
      border-bottom-left-radius: 12px;
    }
  }
}
.orderList {
  color: #000;
  :global {
    h2 {
      color: #000;
      font-weight: 700;
      font-size: 1.1rem;
    }
    .orderListIcon {
      min-width: 35px !important;
    }
  }
}

.btnGroup {
  display: flex;
  width: 100%;
  :global {
    button {
      flex: 1;
      padding: 8px;
      font-size: 1rem;
      a {
        color: #1976d2;
      }
    }
  }
}
.footer {
  text-align: center;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 5rem;
}
.customButton {
  background-color: #fcc056 !important;
  font-size: 1.04rem !important;
}
.table {
  margin-top: 10px;
  :global {
    thead {
      border: 1px solid #ccc;
      th {
        font-weight: bold;
        font-size: 1.1rem;
        background-color: lavender;
        text-align: center;
      }
      
    }
    td {
        font-size: 1rem;
        text-align: center;
      }
  }
}