@font-face {
  font-family: "IRANSans";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("/assets/fonts/IRANSans/Farsi_numerals/webFonts/fonts/eot/IRANSansWeb(FaNum).eot");
  src: url("/assets/fonts/IRANSans/Farsi_numerals/webFonts/fonts/eot/IRANSansWeb(FaNum).eot?#iefix")
      format("embedded-opentype"),
    /* IE6-8 */
      url("/assets/fonts/IRANSans/Farsi_numerals/webFonts/fonts/woff2/IRANSansWeb(FaNum).woff2")
      format("woff2"),
    /* FF39+,Chrome36+, Opera24+*/
      url("/assets/fonts/IRANSans/Farsi_numerals/webFonts/fonts/woff/IRANSansWeb(FaNum).woff")
      format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("/assets/fonts/IRANSans/Farsi_numerals/webFonts/fonts/ttf/IRANSansWeb(FaNum).ttf")
      format("truetype");
}
:root {
  --font-family: "IRANSans";
  --font-size: 14px;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

* {
  font-family: var(--font-family);
  font-size: var(--font-size);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.swiper-pagination-bullet-active {
  width: 20px !important;
  border-radius: 30px !important;
  background: #7569f4;
}
.swiper-pagination-bullet {
  transition: all 0.3s ease-in-out !important;
}
button {
  border: none;
}
h1 {
  font-size: 1.5rem;
}
