.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10rem;
}

.wrapper{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
}
.verifyCodeWrapper{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}
.logo{

    border-radius: 1rem;
}
.title{
    font-size: 1.5rem;
}

.phoneNumber{
    font-size: 1.5rem;
    font-weight: 700;
}



@media screen and (max-width: 1024px) {
    .wrapper,.verifyCodeWrapper{
        width: 90%;
    }

}



